
@model sb_admin_2.Web.Models.Preventive

@{
    ViewBag.Title = "CorrectiveMeasures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CorrectiveMeasures", "Home"))
{
    <h2 style="color:blue">Corrective Measures Taken</h2>

    <div class="panel panel-default">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5" style="padding-top:10px;">
                <form class="form form-horizontal">
                    <div class="control-group">
                        <div class="controls">
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("Equipment for Corrective Measure")
                                @Html.DropDownListFor(m => m.MT_Equ_For_Corr_Measure, new SelectList(
                                    new List<Object>
                                        {
                                            new { value = "MDVR", text = "MDVR"},
                                            new { value = "Camera", text = "Camera"},
                                            new { value = "UPS", text = "UPS"},
                                            new { value = "HDD", text = "HDD"},
                                            new { value = "Sim Card", text = "Sim Card"},
                                            new { value = "Emmi", text = "Emmi"},
                                            new { value = "Camera FOV", text = "Camera FOV"},
                                        },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MT_Equ_For_Corr_Measure, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("Corrective Measure Taken")
                                @Html.DropDownListFor(m => m.MT_Corr_Measure_Taken, new SelectList(
                                    new List<Object>
                                        {
                                            new { value = "Replaced", text = "Replaced"},
                                            new { value = "Fixed", text = "Fixed"},

                                        },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MT_Corr_Measure_Taken, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("Comment box for technicians to comment")
                                @Html.TextAreaFor(x => x.MT_Comment_Box_For_Technicians, 10, 55, null)
                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("If replaced is selected")
                                <br />
                                <div class="radio-inline"><label>@Html.RadioButton("ReplacedYes", "yes", false) Yes </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("ReplacedYes", "no", true) No </label></div>
                                @Html.TextBoxFor(m => m.MT_Old_SerialNo_If_Replaced, new { placeholder = "Serial No. if replaced", @class = "form-control", @disabled = "disabled", id = "srId" })
                            </div>
                        </div>
                    </div>
                    @*@Html.ActionLink("Next", "Thankyou", "Home", null, new { @class = "btn btn-primary" })*@
                    <input type="submit" class="btn btn-primary" name="nextBtn" value='Next' />
                </form>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5" style="padding-top:10px;">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Equipment for Corrective Measure</th>
                                    <th>Corrective Measure Taken</th>
                                    <th>Comment</th>
                                    <th>Serial No.</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (Model != null)
                                    {
                                        if (Model.MT_Equ_For_Corr_Measure != null)
                                        {
                                            <td>@Model.MT_Equ_For_Corr_Measure</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_Corr_Measure_Taken != null)
                                        {
                                            <td>@Model.MT_Corr_Measure_Taken</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_Comment_Box_For_Technicians != null)
                                        {
                                            <td>@Model.MT_Comment_Box_For_Technicians</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_Old_SerialNo_If_Replaced != null)
                                        {
                                            <td>@Model.MT_Old_SerialNo_If_Replaced</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }


                                    }
                                    @*else
        {
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        }*@

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}


            @section Scripts{

                <script type="text/javascript">
                    $(".radio-inline").click(function () {
                        $("#srId").attr("disabled", true);
                        if ($("input[name=ReplacedYes]:checked").val() == "yes") {
                            $("#srId").attr("disabled", false);
                        }
                    });

                </script>
            }
