
@model sb_admin_2.Web.Models.Preventive

@{
    ViewBag.Title = "CSiteTaxiDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Site and Taxi Details</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                @Html.Label("Site")
                                @Html.EnumDropDownListFor(model => model.sites,  // model field that will be used to store user selection
                        "Please select Site", // Text for the 1st default option
                        new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Taxi Type")
                                <div class="radio-inline"><label>@Html.RadioButton("Taxi Type", "Camry", true) Camry </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("Taxi Type", "Innova", false) Innova </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("Taxi Type", "Vito", false) Vito </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("Taxi Type", "Special Needs", false) Special Needs </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("Taxi Type", "Smart Taxi", false) Smart Taxi </label></div>
                            </div>
                            <div class="form-group">
                                <label>Taxi Plate No.</label>
                                <input class="form-control" placeholder="Enter Plate No.">
                            </div>
                            <div class="form-group">
                                <label>Taxi MDVR No.</label>
                                <input class="form-control" placeholder="Enter MDVR No.">
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(x => x.date, new { htmlAttributes = new { placeholder = "Date", @class = "datepicker" } })
                                @Html.ValidationMessageFor(m => m.date)
                            </div>
                            <div class="form-group">
                                @Html.Label("Reported Issue")
                                @Html.TextAreaFor(x => x.reportedIssue, 10, 55, null)
                            </div>
                            <div class="form-group">
                                @Html.Label("Region")
                                <div class="radio-inline"><label>@Html.RadioButton("Region Type", "AD", true) AD </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("Region Type", "AA", false) AA </label></div>
                                <div class="radio-inline"><label>@Html.RadioButton("Region Type", "WR", false) WR </label></div>

                            </div>
                            @Html.ActionLink("Next", "CorrectiveMeasures", "Home", null, new { @class = "btn btn-primary" })
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    @*<div class="col-lg-6">

                        </div>*@
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section scripts{
    <script type="text/javascript">
        //...
        $('.datepicker').datepicker({
            format: 'dd-mm-yyyy', //choose the date format you prefer
            language: "en-CA",
            orientation: 'left bottom'
        }); //yyyy - mm - dd
    </script>
}