@model sb_admin_2.Web.Models.NewTaxi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>




@*<table cellpadding="5" cellspacing="0" border="0" class="details-table">
    <tr>*@
@*<td class="title">Site Name: </td>*@
<pre style="font-weight:bold">
Site Name: @Model.NT_SiteName                      
Taxi Type: @Model.NT_TaxiType
Plate No:  @Model.NT_PlateNumber
Date:      @Model.NT_Date
MDVR No:   @Model.NT_MdvrNo
Region:    @Model.NT_Region
</pre>


<pre style="font-weight:bold">MDVR Serial No:   @Model.NT_MDVRSerialNo
Camera Serial No: @Model.NT_CameraSerialNo
UPS Serial No:    @Model.NT_UpsSerialNo
HDD Serial No:    @Model.NT_HDDSerialNo
Sim Card:         @Model.NT_Sims
Emmi:             @Model.NT_Emmis
Camera FOV:       @Model.NT_CameraFovs
</pre>


<pre style="font-weight:bold">Power Connection: @Model.NT_PowerConnections
Power Cables:     @Model.NT_PowerCables
Camera Cables:    @Model.NT_CameraCables
4G Cables:        @Model.NT_FourG_cables
GPS Cables:       @Model.NT_Gps_cables
WiFi Cables:      @Model.NT_WifiCables
Labeling:         @Model.NT_Labeling
Cable Dressing:   @Model.NT_CableDressing
</pre>


<pre style="font-weight:bold">Camera Connector:  @Model.NT_CameraConnector
Disk Size:         @Model.NT_DiskSize
Bronco MDVR:       @Model.NT_BroncoMdvrs
GPS:               @Model.NT_Gps
4G:                @Model.NT_Four_g
WiFi:              @Model.NT_Wifi
UPS Voltage Test:  @Model.NT_Ups
Taxi Channel:      @Model.NT_Channel
</pre>


<pre style="font-weight:bold">Taxi Handover:     @Model.NT_TaxiHandover
Existing Alarms:   @Model.NT_NoExistingAlarms
Taxi Cabin:        @Model.NT_TaxiCabin
Items left inside: @Model.NT_ItemsLeftInside

</pre>


@*<input type="button" class="btn btn-primary" name="backBtn" value='Back' />*@