@model sb_admin_2.Web.Models.NewTaxi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


@*<table cellpadding="5" cellspacing="0" border="0" class="details-table">
    <tr>*@

<pre style="font-weight:bold">
Site Name: @Model.NT_SiteName                      
Taxi Type: @Model.NT_TaxiType
Plate No:  @Model.NT_PlateNumber
Date:      @Model.NT_Date
MDVR No:   @Model.NT_MdvrNo
Region:    @Model.NT_Region
</pre>


<pre style="font-weight:bold">@*MDVR Serial No:   @Model.NT_MDVRSerialNo*@
Camera Serial No: @Model.NT_CameraSerialNo
UPS Serial No:    @Model.NT_UpsSerialNo
HDD Serial No:    @Model.NT_HDDSerialNo
Emmi:             @Model.NT_Emmis
</pre>



<pre style="font-weight:bold">Camera Connector:  @Model.NT_CameraConnector
Disk Size:         @Model.NT_DiskSize

</pre>


@*<input type="button" class="btn btn-primary" name="backBtn" value='Back' />*@