
@model sb_admin_2.Web.Models.NewTaxi

@{
    ViewBag.Title = "AddNewTaxi5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("HouseKeepingDetails", "Home"))
{
    <h2>Add New Taxi</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    @*<div class="form-inline">*@
                                    @Html.Label("Taxi Handover")
                                    @*@Html.EnumDropDownListFor(model => model.NT_TaxiHandover, "Select Taxi Handover", new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.NT_TaxiHandover, new SelectList(
                                        new List<Object>
                                        {
                                            new { value = "VeryGood", text = "Very Good"},
                                            new { value = "Good", text = "Good"},
                                            new { value = "Fair", text = "Fair"},
                                            new { value = "Poor", text = "Poor"},
                                            new { value = "VeryPoor", text = "Very Poor"},
                                        },
                                        "value",
                                        "text",
                                        2), "-- Please Select --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NT_TaxiHandover, "", new { @class = "text-danger" })
                                    @*</div>*@
                                </div>
                                <div class="form-group">
                                    @Html.Label("Existing Alarms")
                                    @*@Html.EnumDropDownListFor(model => model.NT_NoExistingAlarms, " ", new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.NT_NoExistingAlarms, new SelectList(
                                        new List<Object>
                                        {
                                            new { value = "Yes", text = "Yes"},
                                            new { value = "No", text = "No"},
                                        },
                                        "value",
                                        "text",
                                        2), "-- Please Select --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NT_NoExistingAlarms, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.Label("Taxi is clean & without any damages")
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiCabin, "Yes", true) Yes </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiCabin, "No", false) No </label></div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Items left inside")
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_ItemsLeftInside , "Yes", true) Yes </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_ItemsLeftInside, "No", false) No </label></div>
                                </div>

                                @*@Html.ActionLink("Next", "AddNewTaxi6", "Home", null, new { @class = "btn btn-primary" })*@
                                @*<input type="submit" class="btn btn-primary" name="prevBtn" value='Previous' />*@
                                <input type="submit" class="btn btn-primary" name="nextBtn" value='Next' />
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        @*<div class="col-lg-6">

                            </div>*@
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
}

