
@model sb_admin_2.Web.Models.Preventive

@{
    ViewBag.Title = "MEquipmentFunctionsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MEquipmentFunctionsDetails", "Home"))
{
    <h2 style="color:orangered">Preventive Maintenance</h2>

    <div class="panel panel-default">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5" style="padding-top:10px;">
                <form class="form form-horizontal">
                    <div class="control-group">
                        <div class="controls">
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("Bronco MDVR")
                                @*@Html.EnumDropDownListFor(model => model.NT_BroncoMdvrs, "Select Bronco MDVR", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.MT_BroncoMdvrs, new SelectList(
                                    new List<Object>
                                    {
                                        new { value = "VeryGood", text = "Very Good"},
                                        new { value = "Good", text = "Good"},
                                        new { value = "Fair", text = "Fair"},
                                        new { value = "Poor", text = "Poor"},
                                        new { value = "VeryPoor", text = "Very Poor"},
                                    },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                    @*@Html.RadioButton("Replaced HDD", "Yes", false) Recording*@
                                @Html.ValidationMessageFor(m => m.MT_BroncoMdvrs, "", new { @class = "text-danger" })
                                    @*</div>*@
                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("GPS")
                                @*@Html.EnumDropDownListFor(model => model.NT_Gps, "Select GPS", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.MT_Gps, new SelectList(
                                    new List<Object>
                                    {
                                        new { value = "VeryGood", text = "Very Good"},
                                        new { value = "Good", text = "Good"},
                                        new { value = "Fair", text = "Fair"},
                                        new { value = "Poor", text = "Poor"},
                                        new { value = "VeryPoor", text = "Very Poor"},
                                    },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MT_Gps, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("4G")
                                @*@Html.EnumDropDownListFor(model => model.NT_Four_g, "Select 4G", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.MT_Four_g, new SelectList(
                                    new List<Object>
                                    {
                                        new { value = "VeryGood", text = "Very Good"},
                                        new { value = "Good", text = "Good"},
                                        new { value = "Fair", text = "Fair"},
                                        new { value = "Poor", text = "Poor"},
                                        new { value = "VeryPoor", text = "Very Poor"},
                                    },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MT_Four_g, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("WiFi")
                                @*@Html.EnumDropDownListFor(model => model.NT_Wifi, "Select WiFi", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.MT_Wifi, new SelectList(
                                    new List<Object>
                                    {
                                        new { value = "VeryGood", text = "Very Good"},
                                        new { value = "Good", text = "Good"},
                                        new { value = "Fair", text = "Fair"},
                                        new { value = "Poor", text = "Poor"},
                                        new { value = "VeryPoor", text = "Very Poor"},
                                    },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MT_Wifi, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" style="padding-left:10px;">
                                @Html.Label("UPS Voltage Test")
                                @*@Html.EnumDropDownListFor(model => model.NT_VoltageTest, "Select UPS Voltage Test", new { @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.MT_VoltageTest, new SelectList(
                                new List<Object>
                                    {
                                        new { value = "VeryGood", text = "Very Good"},
                                        new { value = "Good", text = "Good"},
                                        new { value = "Fair", text = "Fair"},
                                        new { value = "Poor", text = "Poor"},
                                        new { value = "VeryPoor", text = "Very Poor"},
                                    },
                                    "value",
                                    "text",
                                    2), "-- Please Select --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.MT_VoltageTest, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary" name="nextBtn" value='Next' />
                </form>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5" style="padding-top:10px;">
                <div class="panel panel-default">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Bronco MDVR</th>
                                    <th>GPS</th>
                                    <th>4G</th>
                                    <th>Wi-Fi</th>
                                    <th>UPS Voltage Test</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @if (Model != null)
                                    {
                                        if (Model.MT_BroncoMdvrs != null)
                                        {
                                            <td>@Model.MT_BroncoMdvrs</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_Gps != null)
                                        {
                                            <td>@Model.MT_Gps</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_Four_g != null)
                                        {
                                            <td>@Model.MT_Four_g</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_Wifi != null)
                                        {
                                            <td>@Model.MT_Wifi</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                        if (Model.MT_VoltageTest != null)
                                        {
                                            <td>@Model.MT_VoltageTest</td>
                                        }
                                        else
                                        {
                                            <td>N/A </td>
                                        }
                                                                                
                                    }
                                    @*else
        {
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        }*@

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     </div>

}


