@model IEnumerable<sb_admin_2.Web.Models.NewTaxi>

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Taxis</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<table class="table table-condensed table-striped table-hover" id="taxiDataTable">
    <thead>
        <tr>
            <th>Site Name</th>
            <th>Taxi Type</th>
            <th>Taxi Plate No</th>
            <th>Date</th>
            <th>Region</th>
            <th>Details</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="odd gradeX">
                <td>@Html.DisplayFor(modelItem => item.NT_SiteName)</td>
                <td>@Html.DisplayFor(modelItem => item.NT_TaxiType)</td>
                <td>@Html.DisplayFor(modelItem => item.NT_PlateNumber)</td>
                <td>@item.NT_Date.ToUniversalTime() </td>
                <td>@Html.DisplayFor(modelItem => item.NT_Region)</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Home", new { id = item.NT_PlateNumber }, FormMethod.Get)
                </td>
            </tr>
        }

    </tbody>
</table>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 

    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js">
    </script>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#taxiDataTable').dataTable();
        });

    </script>
}

