
@model sb_admin_2.Web.Models.NewTaxi


@{
    ViewBag.Title = "AddNewTaxi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @*<script type="text/javascript" src="~/scripts/jquery-3.3.1.min.js"></script>*@
    <script type="text/javascript" src="~/scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>*@


    <title></title>
</head>


@using (Html.BeginForm("TaxiDetails", "Home"))
{
    <h2>Add New Taxi</h2>

    @*<h2>Site and Taxi Details</h2>*@

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    @Html.Label("Site")
                                    @*@Html.EnumDropDownListFor(model => model.NT_Sites, "Please select Site", new { @class = "form-control" })*@
                                    @Html.DropDownListFor(m => m.NT_SiteName, new SelectList(
                                        new List<Object>
                                        {
                                            new { value = "AlGhazalTaxi", text = "Al Ghazal Taxi"},
                                            new { value = "NationalTaxi", text = "National Taxi"},
                                            new { value = "CarsTaxi", text = "Cars Taxi"},
                                            new { value = "EmiratesTaxi", text = "Emirates Taxi"},
                                            new { value = "TawasulTaxi", text = "Tawasul Taxi"},
                                            new { value = "ArabiaTaxi", text = "Arabia Taxi"},
                                            new { value = "AirportTaxi", text = "Airport Taxi"},
                                            new { value = "EmiratesTransportTaxi", text = "Emirates Transport Taxi"},
                                        },
                                        "value",
                                        "text",
                                        2), "-- Please Select --", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NT_SiteName, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.Label("Taxi Type")
                                    <br />
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiType, "Camry", false) Camry </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiType, "Innova", false) Innova </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiType, "Vito", false) Vito </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiType, "Special Needs", false) Special Needs </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiType, "Smart Taxi", false) Smart Taxi </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_TaxiType, "Buses", false) Buses </label></div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Region")
                                    <br />
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_Region, "AD", true) AD </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_Region, "AA", false) AA </label></div>
                                    <div class="radio-inline"><label>@Html.RadioButtonFor(m => m.NT_Region, "WR", false) WR </label></div>

                                    @*@{ selectedRegion = Model.NT_Region;}*@
                                </div>

                                <div class="form-group field-validation-error form-inline">
                                    @Html.Label("Taxi Plate No.")
                                    @Html.TextBoxFor(m => m.NT_PlateNumber, new { placeholder = "Please enter Taxi Plate No.", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NT_PlateNumber, "", new { @class = "text-danger" })
                                    @*@Html.ActionLink("Take Photo", "Changephoto", "Photo", new { @class = "btn btn-primary" })*@
                                    @*<a href="@Url.Action("ChangePhoto", "Home", new { fromView ="TaxiDetails"})">
                                            <img src="~/Content/images/photo-camera.png"/>
                                        </a>*@
                                </div>
                                <div class="form-group field-validation-error form-inline">
                                    @Html.Label("Taxi MDVR No.")
                                    @Html.TextBoxFor(m => m.NT_MdvrNo, new { placeholder = "Please enter Taxi MDVR No.", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NT_MdvrNo, "", new { @class = "text-danger" })
                                    @*<a href="@Url.Action("ChangePhoto", "Home", new { fromView ="TaxiDetails"})">
                                            <img src="~/Content/images/photo-camera.png" />
                                        </a>*@
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(x => x.NT_Date, new { htmlAttributes = new { @class = "form-control date-time-picker", onkeydown = "return false", onpaste = "return false" } })
                                    @Html.ValidationMessageFor(m => m.NT_Date, "", new { @class = "text-danger" })
                                </div>

                                <input type="submit" class="btn btn-primary" name="nextBtn" value='Next' />
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        @*<div class="col-lg-6">

                            </div>*@
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".date-time-picker").datetimepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-100:+0",
                    dateFormat: 'dd-M-yy',
                    controlType: 'select',
                    timeFormat: 'hh:mm TT'
                });
            });

            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                if (isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });


    </script>
}